<app-scroll-container [more]="hasMore()"
                      [scrollOffset]="2500"
                      [scrollDelay]="3000"
                      (scrolled)="handleScroll($event)"
                      [class.full]="full"
                      [class.part]="!full">
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container *ngFor="let column of displayedColumns"
                  [matColumnDef]="column">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ column | titlecase }}
      </mat-header-cell>
      <mat-cell *matCellDef="let item">{{ item[column] }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</app-scroll-container>

<div class="buttons">
  <button (click)="full = !full">{{ full ? 'Part' : 'Full' }}</button>
</div>
